body {
    margin: 0;
    padding: 0;
    border: border-box;
}

/***font-family-styles**/

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/***nav***/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}
nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
}

nav ul li a:hover {
    background-color: #5b55ff;
    transition-duration: 0.3s;
}

.nav-logo {
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}

.header {
    background-image: url("Assets/Hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5px 0px 0px 0px;
    margin-bottom: 120px;
}

/***banner***/

.banner {
    height: 550px;
}

.banner-h1 {
    margin-top: 180px;
    font-size: 65px;
    font-weight: bolder;
    text-align: center;
    line-height: 20px;
}
.banner-h1-2 {
    font-size: 65px;
    font-weight: bold;
    text-align: center;
}

.banner-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.banner button {
    font-size: 16px;
    font-weight: bold;
    border: none;
    height: 50px;
    width: 175px;
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.banner button:hover {
    background-color: #5b55ff;
    transition-duration: 0.3s;
}

.main {
    background: linear-gradient(to top, #f4f4ff, #ffffff);
}

/**section-1***/

.section-1 {
    margin: 0px 160px 0px 140px;
}


.action-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action-content {
    width: 515px;
}

.action-content h2 {
    font-size: 42px;
    font-weight: bold;
}

.action-content p {
    font-size: 24px;
    color: #252432;
    margin-top: 23px;
}

.action-content button {
    color: white;
    border: none;
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    padding: 12px 36px;
    margin-top: 23px;
    cursor: pointer;
}

.action-content button:hover {
    background-color: #5b55ff;
    transition-duration: 0.3s;
}


.action-img img {
    height: 328px;
    width: 403px;
    border-radius: 48px;
}


/***productice User***/

.section-3 {
   margin: 120px 160px 0px 140px; 
   background-color: #e1e1fd;
   padding: 50px 142px;
   border-radius: 24px;
   margin-bottom: 120px;
}

.section-3 h2 {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}

.box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 185px;
}

.box-titte {
    font-size: 80px;
    font-weight: bold;
    margin-top: 40px;
    color: #4E47FF;
    margin-bottom: 20px;
}

.box-description {
    font-size: 20px;
    color: rgb(80, 80, 80);
}


/***section-4***/

.section-4 {
    margin: 120px 150px 120px 150px;
}


.section-4 h2 {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}



.stat-icon {
    display: flex;
    align-items: center;
}


.section-4-title {
    font-size: 25px;
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 10px;
}

.section-4-sub-title {
    line-height: 25px;
    margin-bottom: 24px;
}

.section-4-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.box-1 {
    height: 243px;
    width: 366px;
    background-color: #FFFFFF;
    padding: 24px;
    border-radius: 14px;
}
.box-2 {
    height: 243px;
    width: 366px;
    background-color: #FFFFFF;
    padding: 24px;
    border-radius: 14px;
}
.box-3 {
    height: 243px;
    width: 366px;
    background-color: #FFFFFF;
    padding: 24px;
    border-radius: 14px;
}


.img-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.img-container img {
    border-radius: 50%;
}

.comment {
    color: rgb(88, 88, 88);
    font-size: 18px;
    font-weight: 600;
}

.comment span {
    color: gray;
    font-size: 14px;
    margin-top: 5px;
}


/****section-5*****/

.section-5 {
    text-align: center;
    margin: 120px 150px 120px 150px;
    background-color: #FFFFFF;
    padding: 71px 150px;
    border-radius: 14px;
    margin-bottom: 120px;
}

.section-5-title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.section-5-sub-title {
    color: rgb(88, 88, 88);
    margin-bottom: 20px;
}

.section-5-btn {
    font-size: 16px;
    font-weight: 500;
    color: white;
    border: none;
    padding: 12px 36px;
    border-radius: 10px;
    background-color: #4E47FF;
    cursor: pointer;
    margin-bottom: 20px;
}

.section-5-btn:hover {
    background-color: #5b55ff;
    transition-duration: 0.3s;
}

.section-5-img {
    height: 364px;
    width: 840px;
    border-radius: 48px;
}



/***section-6****/

.section-6 {
    margin: 120px 150px 120px 150px;
    padding: 71px 0px;
}

.section-6-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-title {
    font-size: 100px;
    font-weight: bold;
    width: 550px;
}

label {
    font-size: 18px;
    font-weight: 500;
}

.input {
    display: block;
    height: 70px;
    width: 500px;
    border: none;
    padding: 0px 0px 0px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px black;
}

textarea {
    display: block;
    height: 135px;
    width: 500px;
    padding: 20px 0px 0px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 1px black;
}

.form-bottom {
    color: white;
    font-size: 16px;
    font-weight: bold;
    height: 62px;
    width: 520px;
    border: none;
    background-color: #4E47FF;
    border-radius: 10px;
    cursor: pointer;
}

.form-bottom:hover {
    background-color: #5b55ff;
    transition-duration: 0.3s;
}



footer {
    width: 530px;
    margin: 105px 700px;
}

.foot-logo {
    font-size: 100px;
    font-weight: 900;
    text-align: center;
    color: #4E47FF;
    margin-bottom: 8px;
}
.foot-title {
    text-align: center;
    color: rgb(88, 88, 88);
    font-size: 18px;
    line-height: 25px;
}

footer ul {
    display: flex;
    align-items: center;
    margin-top: 45px;
    gap: 50px;
    text-align: center;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(88, 88, 88);

}
   